$whiteish-bg-color:#f8f9fa;
$button-bg-color:#007bff;
$font:lato;
$bg-masthead:"../images/bg-masthead.jpg";
$bg-showcase-1:"../images/bg-showcase-1.jpg";
$bg-showcase-2:"../images/bg-showcase-2.jpg";
$bg-showcase-3:"../images/bg-showcase-3.jpg";
$testimonials-1:"../images/testimonials-1.jpg";
$testimonials-2:"../images/testimonials-2.jpg";
$testimonials-3:"../images/testimonials-3.jpg";